body {
    color: #F00;
}
button {
    width: 100px;
    height: 100px;
}
div{
    text-align: center;
}
button{
    color: #F00
}
button{
     background-color:black
}
div {
    font-size: 500%;
}
div {
    color: black;
}
div{
    background-color:indianred
}